/* set img for every card */
.spade0 {
  background-image: url("../faces/0_1.svg");
}

.spade1 {
  background-image: url("../faces/0_2.svg");
}

.spade2 {
  background-image: url("../faces/0_3.svg");
}

.spade3 {
  background-image: url("../faces/0_4.svg");
}

.spade4 {
  background-image: url("../faces/0_5.svg");
}

.spade5 {
  background-image: url("../faces/0_6.svg");
}

.spade6 {
  background-image: url("../faces/0_7.svg");
}

.spade7 {
  background-image: url("../faces/0_8.svg");
}

.spade8 {
  background-image: url("../faces/0_9.svg");
}

.spade9 {
  background-image: url("../faces/0_10.svg");
}

.spade10 {
  background-image: url("../faces/0_11.svg");
}

.spade11 {
  background-image: url("../faces/0_12.svg");
}

.spade12 {
  background-image: url("../faces/0_13.svg");
}

.spade13 {
  background-image: url("../faces/0_14.svg");
}


.hearts0 {
  background-image: url("../faces/1_1.svg");
}

.hearts1 {
  background-image: url("../faces/1_2.svg");
}

.hearts2 {
  background-image: url("../faces/1_3.svg");
}

.hearts3 {
  background-image: url("../faces/1_4.svg");
}

.hearts4 {
  background-image: url("../faces/1_5.svg");
}

.hearts5 {
  background-image: url("../faces/1_6.svg");
}

.hearts6 {
  background-image: url("../faces/1_7.svg");
}

.hearts7 {
  background-image: url("../faces/1_8.svg");
}

.hearts8 {
  background-image: url("../faces/1_9.svg");
}

.hearts9 {
  background-image: url("../faces/1_10.svg");
}

.hearts10 {
  background-image: url("../faces/1_11.svg");
}

.hearts11 {
  background-image: url("../faces/1_12.svg");
}

.hearts12 {
  background-image: url("../faces/1_13.svg");
}

.hearts13 {
  background-image: url("../faces/1_14.svg");
}


.clubs0 {
  background-image: url("../faces/2_1.svg");
}

.clubs1 {
  background-image: url("../faces/2_2.svg");
}

.clubs2 {
  background-image: url("../faces/2_3.svg");
}

.clubs3 {
  background-image: url("../faces/2_4.svg");
}

.clubs4 {
  background-image: url("../faces/2_5.svg");
}

.clubs5 {
  background-image: url("../faces/2_6.svg");
}

.clubs6 {
  background-image: url("../faces/2_7.svg");
}

.clubs7 {
  background-image: url("../faces/2_8.svg");
}

.clubs8 {
  background-image: url("../faces/2_9.svg");
}

.clubs9 {
  background-image: url("../faces/2_10.svg");
}

.clubs10 {
  background-image: url("../faces/2_11.svg");
}

.clubs11 {
  background-image: url("../faces/2_12.svg");
}

.clubs12 {
  background-image: url("../faces/2_13.svg");
}

.clubs13 {
  background-image: url("../faces/2_14.svg");
}


.diamonds0 {
  background-image: url("../faces/3_1.svg");
}

.diamonds1 {
  background-image: url("../faces/3_2.svg");
}

.diamonds2 {
  background-image: url("../faces/3_3.svg");
}

.diamonds3 {
  background-image: url("../faces/3_4.svg");
}

.diamonds4 {
  background-image: url("../faces/3_5.svg");
}

.diamonds5 {
  background-image: url("../faces/3_6.svg");
}

.diamonds6 {
  background-image: url("../faces/3_7.svg");
}

.diamonds7 {
  background-image: url("../faces/3_8.svg");
}

.diamonds8 {
  background-image: url("../faces/3_9.svg");
}

.diamonds9 {
  background-image: url("../faces/3_10.svg");
}

.diamonds10 {
  background-image: url("../faces/3_11.svg");
}

.diamonds11 {
  background-image: url("../faces/3_12.svg");
}

.diamonds12 {
  background-image: url("../faces/3_13.svg");
}

.diamonds13 {
  background-image: url("../faces/3_14.svg");
}